.landing {
  height: 100vh;
  background-color: #FFB300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.landing-logo-slogan {
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding-right: 14px;
}

.landing-phrase {
  color: white;
  margin-top: 60px;
  font-size: 40px;
}

.landing-login {
  margin-right: 16px;
}
