.book-grid{
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: center;
  margin: 1rem 5.5rem 0 5.5rem;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  .book-grid{
    margin: 1rem 5.5rem 0 5.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1100px) {
  .book-grid{
    margin: 1rem 5.5rem 0 5.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.book-item {
    position: relative;
}

.book-image{
  width: 348px;
  height: 487px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.book-overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 97.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.50);
}

.book-overlay .text{
  margin-top: 60%;
}

.book-item:hover .book-image {
  opacity: 0.3;
}

.book-item:hover .book-overlay {
  opacity: 1;
}

.book-title{
    color: #FbFbFb;
    text-transform: capitalize;
  }
