body{
    padding: 0;
    margin: 0;
  }

  .navbar{
    width: 100%;
    background: #FFB300;
    padding-top: 12px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .logo{
    margin-left: 6rem;
  }


  .content{

    margin: 1rem 4rem 0 4rem;
    position: relative;
  }


  #imagen {
    width:348px;
    height: 487px;
    margin: 1rem 4rem 1rem .5rem;
  }

  .book-grid{
    margin: 1rem 5.5rem 0 5.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-items: center;
  }

  .book-item {
      position: relative;
  }

  .book-image{
    width: 208px;
    height: 487px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 97.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.50);
  }

  .overlay .content{
    margin-top: 60%;
  }

  .book-item:hover .book-image {
    opacity: 0.3;
  }

  .book-item:hover .overlay {
    opacity: 1;
  }

  .download-button{
    display: absolute;
    bottom: 0px;
    right: 0px;

  }
