/* label focus color */
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #ff4081 !important;
}
/* label underline focus color */
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 1px solid #ff4081 !important;
  box-shadow: 0 1px 0 0 #ff4081 !important;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

#paypal-payment{
  text-align: center;
}

.register {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.register-button {
  margin-right: 16px;
  margin-left: 40px;
}

.subscription-selector{
  display: block;
}

.btn.cancel{
  width: 100%;
}

select {
  -webkit-appearance: none;
  /*webkit browsers */
  -moz-appearance: none;
  /*Firefox */
  appearance: none;
  /* modern browsers */
  border-radius: 0;

  display: block;
}
