.book-item {
    position: relative;
}

.recomendation-book-image{
  width: 208px;
  height: 291px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.book-overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 97.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.50);
}

.book-overlay .text{
  margin-top: 60%;
}

.book-item:hover .recomendation-book-image {
  opacity: 0.3;
}

.book-item:hover .book-overlay {
  opacity: 1;
}

.book-title{
    color: #FbFbFb;
    text-transform: capitalize;
}
