.book-grid{
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-items: center;
  margin: 1rem 5.5rem 0 5.5rem;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 800px) {
  .book-grid{
    margin: 1rem 5.5rem 0 5.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1100px) {
  .book-grid{
    margin: 1rem 5.5rem 0 5.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.content{
  margin: 1rem 4rem 0 4rem;
  padding: .1rem 0 .5rem .5rem
}
